{% load static %}
<link href="{% static 'main/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/css/dashboard/style.css'%}">
<body>
    <div class="container">
        <hr>
        <div class="main-content">
            <div class="col-xl-12 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h6 class="heading-small text-muted mb-4">Become a Laundry Man</h6>
                            </div>
                            <div class="col-4 text-right">
                                <a href="{% url 'index' %}" class="btn btn-sm btn-danger">Back</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="pl-lg-4">
                                <div class="form-group focused">
                                    {{ form.as_p }}
                                </div>
                            </div>
                            <hr>
                            <button class="btn btn-warning btn-sm">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <script>
        var name = '{{ user.id }}';
        document.getElementById('laundry_man').value = name;

        var slug = '{{user.username }}';
        console.log(slug);
        document.getElementById('slug').value = slug;
    </script>
</body>
</html>