{% load static %}
<link href="{% static 'main/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/css/dashboard/style.css'%}">

<body>
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <h2> <a href="{% url 'index'%}" style="color: aliceblue;"><span class="fa fa-cloud" aria-hidden="true"></span> Laundry</a></h2>
        
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{object.client.username}}</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{object.client.username}}</h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can view your activities, payments and edit your profile here</p>
            <a href="{% url 'edit_profile' user.client.slug %}" class="btn btn-info">Edit profile</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info mr-4">Payments</a>
                <a href="{% url 'logout' %}" class="btn btn-sm btn-default float-right">Logout</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{shirts}}</span>
                      <span class="description">Shirts</span>
                    </div>
                    <div>
                      <span class="heading">{{weight}}</span>
                      <span class="description">Weight</span>
                    </div>
                    <div>
                      <span class="heading">{{trousers}}</span>
                      <span class="description">Trousers</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{object.client.first_name}} {{object.client.last_name}}
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{object.street_address}}, {{object.area}}
                </div>
                <hr class="my-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique mollitia ipsum minus quibusdam ducimus molestiae, sit earum adipisci</p>
                {% if Active_laundry_basket %}
                  Laundry in Progress <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                {% else%}
                  <a href="{% url 'laundry' %}" class="btn btn-info">New Basket</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{% url 'dashboard' user.client.slug %}" class="btn btn-sm btn-primary">Dashboard</a>
                </div>
              </div>
            </div>
            <div class="card-body">
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Username</label>
                        <p class="form-control form-control-alternative">{{ object.client.username }}</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <p class="form-control form-control-alternative">{{ object.client.email }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <p class="form-control form-control-alternative">{{ object.client.first_name}}</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <p class="form-control form-control-alternative">{{ object.client.last_name }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Phone Number</label>                      
                            <p class="form-control form-control-alternative">{{ object.phone_number }}</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Phone Number 2</label>
                            <p class="form-control form-control-alternative">{{ object.auxiliary_phone_number }}</p>
                            </div>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Street and Area</label>                        
                        <p class="form-control form-control-alternative">{{ object.street_address }}, {{ object.area }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">House Number</label>
                        <p class="form-control form-control-alternative">{{ object.house_number}}</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-country">City</label>
                        <p class="form-control form-control-alternative">{{ object.city }}</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-country">State</label>
                          <p class="form-control form-control-alternative">{{ object.state }}</p>
                        </div>
                      </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>About Me</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">{{ object.about }}</textarea>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>